.utility-bar {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
  top: 4px;
  margin-left: 1.25rem;
}

.checkbox-container input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid #ababab;
  border-radius: 4px;
}

.other-utility {
  display: flex;
  padding-left: 2rem;
  padding-bottom: 2px;
}

.utility-btn {
  margin-right: 1rem;
  color: #6a6a6a;
  padding: 0.5rem 0.5rem;
  transition: color 0.3s linear;
}

.utility-btn:hover {
  background: #f5f5f5;
  color: #2b2b2b;
  border-radius: 4px;
  transition: all 0.3s linear;
}

.page-control {
  display: flex;
  position: relative;
  justify-content: space-between;
  top: 4px;
  font-size: 1.3rem;
  width: 10%;
}
