.create-budget-form {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.drag-button {
  visibility: hidden;
  color: #cacaca;
}

.budget-info-container:hover {
  cursor: pointer;
}

.budget-info-container:hover .drag-button {
  visibility: visible;
}
