.navbar {
  position: fixed !important;
  height: 50px;
  top: 0;
  right: 0;
  z-index: 1002;
  background: #191b2c;
  color: #fafafa;
  width: 100%;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.navbar-toggle {
  left: 0;
  width: 100%;
}
